@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

/******************************************* Fonts Import ******************************************* /
/*
*
*
*/
/******************************************* Style Start ******************************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/******************************************* header Style ******************************************* */
nav {
  margin: 0 8.333%;
  padding: 34px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-size: 24px;
  color: #3a3a3a;
  text-decoration: none;
}
.nav-menu {
  display: flex;
  gap: 33px;
}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: #3a3a3a;
}
